.slideshow-container {
  position: relative;
  margin-top: 8px;
  z-index:2;
  > * {
    box-sizing: border-box;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    margin-top: -22px;
    color: #777;
    font-weight: bold;
    font-size: 64px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: none;
    
    border-style: none;
    &:hover{
      color: #26ce61;
    }
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .mySlides {
    display: none;
    height: 450px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

/* Hide the images by default */

/* Next & previous buttons */

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
